
h1 {
text-align: center;
color: #fff;
font-weight: 100;
color: #f35626;
background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-animation: hue 60s infinite linear;
font-size: 5rem;
padding-top: 30px;
}

@-webkit-keyframes hue {
from {
-webkit-filter: hue-rotate(0deg);
}

to {
-webkit-filter: hue-rotate(-360deg);
}
}

h2 {
  font-size: 20px;
  font-weight: 400;
}

.logo {
  max-width: 200px;
  margin: 0 auto;
  display: block;
  padding: 24px;
}
.dropzone-content {

width: 100%;
max-width: 600px;
background: #fff;
padding: 24px;
border-radius: 10px;
box-sizing: border-box;
box-shadow: 0px 6px 9px 0px rgba(158, 158, 158, 0.32);
border: 1px solid #f5f5f5
}

img {
width: 100%;
}

.img-upload {
width: 220px;
display: block;
margin: 0 auto;
padding-top: 31px;
    margin-bottom: 30px;
}


.dropzone { border: 2px dashed #efefef; border-radius: 10px; }
.dropzone .dz-message { font-weight: 400; }
.dropzone .dz-message .note { font-size: 0.8em; font-weight: 200; display: block; margin-top: 1.4rem; }
.dropzone .dz-preview {
  width: 100%;
  margin: 0;
  border: 1px solid #efefef;
}

.dropzone .dz-slat .dz-preview:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.dropzone .dz-slat .dz-preview:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.dropzone .dz-preview.dz-file-preview .dz-image {
  background: transparent;
  content: url(http://localhost:3000/img/html-icon.svg);
  width: 39px;
  margin-left: 34px;
}

.dropzone .dz-preview .dz-details {
  top: 7px;
  left: 90px;
  text-align: left;
  display: flex;
    flex-direction: column-reverse;
}
.dropzone .dz-preview .dz-details .dz-filename {
  font-size: 16px;
}


.dropzone .dz-complete .dz-success-mark {
    opacity: 1;
    display: block;
    left: 459px;
    top: 60px;
    width: 31px;
    content: url(http://localhost:3000/img/tick.svg);
}

.dropzone .dz-complete .dz-progress {
  display: none;
}

.dropzone .dz-preview .dz-progress {
  border: 1px solid #ff5a99;
}

.dropzone .dz-preview .dz-progress {
  left: 428px; /* issues with right have to do for now */
}
.dropzone .dz-preview .dz-progress .dz-upload {
  background: rgba(255, 93, 153, 0.48);
}
.dropzone.dz-drag-hover .dz-message {
opacity: 1;
}

.dropzone.dz-drag-hover {
border-color: #ffa2a2;
}
.dropzone.dz-drag-hover .img-upload {
-webkit-animation: shake 2s infinite;
}




@-webkit-keyframes shake {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}


.btn_restart {
display: block;
margin: 0 auto;
width: 200px;
text-align: center;
margin-top: 20px;
}

.status {
  text-align: center;
  color: #dedede;
  padding-top: 12px;
}

.extra {
  font-style: italic;
  color: #d2d2d2;
}

.download-ready {
  position: fixed;
  bottom: -50px;
  left: 20px;
  background: #fff;
  box-shadow: 0px 6px 9px 0px rgba(158, 158, 158, 0.32), 0px -3px 0 0 #7dd229;
  border: 1px solid #f5f5f5;
  padding: 14px 24px;
}

.icon-download {
  content: url(http://localhost:3000/img/download.svg);
  position: relative;
  width: 30px;
  top: 3px;
  margin-right: 20px;
}

.download-ready {
  transition: all 0.6s ease;
  opacity: 0;
}

.download-ready.complete{
  opacity: 1;
  bottom: 20px
}

.github-logo {
  width: 70px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.github-logo:hover {
  opacity: 0.5;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbar-list {
  list-style: none;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
}

.navbar-item {
  position: relative;
  display: inline-block;
  margin-bottom: 2rem;
}

.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 100;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  color: #999;
}

.navbar-item:last-child > a {
  margin: 0;
}

.container {
  max-width: 600px;
}

.stat {
  text-align: center;
}

.stat-data {
    font-size: 90px;
    line-height: 80px;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.stat-data.loaded {
  opacity: 1;
}
