doctype html
html
  head
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,400,900', rel='stylesheet')
    link(href='/css/normalize.css', rel='stylesheet')
    link(href='/css/skeleton.css', rel='stylesheet')
    link(href='/css/main.css', rel='stylesheet')
  body
    main
      include snippet/header.jade
      div#dropzone
        div.dropzone-container
          div.dropzone-content
            div#stats-blocks.u-full-width
      include snippet/footer.jade
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(src="http://code.highcharts.com/highcharts.js")
    script(src="js/stats/blocks.js")
