doctype html
html
  head
    title Splitscript - Stats for nerds
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,400,900', rel='stylesheet')
    link(href='/css/main.css', rel='stylesheet')
  body
    include snippet/header.jade
    main
      div.container
        div.row
        div.dropzone-container
          div.dropzone-content
            div#stats-blocks.u-full-width
        br
        div.row
          div.six.columns.dropzone-content.stat
            h6 Average blocks:
            span#avg-number.stat-data 00
          div.six.columns.dropzone-content.stat
            h6 Script has run:
            span#run-number.stat-data 00
    include snippet/footer.jade
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(src="http://code.highcharts.com/highcharts.js")
    script(src="js/stats/blocks.js")
