header
  div.container
    img(src="img/split.svg", class="logo")
    ul.navbar-list
      li.navbar-item
        a(href="./").navbar-link home
      li.navbar-item
        a(href="/stats").navbar-link stats
      li.navbar-item
        a(href="/about").navbar-link about
